/* Element Selectors */
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Open Sans, Light;
  display: flex;
  height: 100%;
  width: 100%;

}

main {
  height: 100%;
  width: 100%;
}

form {
  background-color: #A9AAD2;
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1,
h3,
button {
  font-family: Open Sans, Bold;
}

h1,
nav {
  background-color: #1F1F3D;
  width: 15%
}

section {
  background-color: #EAEAF4;
  height: 45%
}

input {
  border: 2px solid #5356A4;
  height: 30px;
}

/* Form Children*/
.search-idea-container {
  display: flex;
  border: 2px solid #5356A4;
}

.body-input {
  height: 70px;
}

.search-input {
  border: none;
  font-family: 'Open Sans';
  font-size: 1em;
  color: #5356A4;
  width: 100%;
}

.form-style {
 width: 50%;
 font-weight: bold;
 margin: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

/* Buttons */
.save-btn {
 border: 2px solid #5356A4;
 background-color: #353567;
 height: 40px;
 color: white;
 font-size: 1em;
}

.magnifying-glass {
background-image: url('assets/search.svg');
background-size: 2em;
background-repeat: no-repeat;
background-color: #1F1F3D;
background-position: center;
border: none;
margin-right: 0;
height: 100%;
width: 20%;
}
